h2{
    padding: 10px
}

.contato{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

h3{
    text-align: center;
}

.redes-sociais, .mapa{
    padding: 25px;    

}

.redes-sociais p, .social{
    text-align: center;
}

@media screen and (max-width: 600px) {
 
    iframe{
        content: '<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3649.6455423023094!2d-46.1375453!3d-23.8312003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdfc7e535569bb%3A0xb322d8552febdd55!2sAv.%20Dezenove%20de%20Maio%2C%20752%20-%20Jardim%20Albatroz%2C%20Bertioga%20-%20SP%2C%2011250-000!5e0!3m2!1spt-BR!2sbr!4v1692374139183!5m2!1spt-BR!2sbr" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>';
        width: 30%;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    .contato{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }

    .wpp{
        width: 10%;
        position: fixed;
        bottom: 5px;
        right: 0.1px;
        z-index: 9999;
    }

}

@media screen and (max-width: 790px) {
 

    h3{
        text-align: center;
    }

    .contato{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    iframe{
        width: 450px;
        height: 450px
    }
}