#produtos-page{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#container-produtos{
    margin: 20px;
}

/*#grid-products{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-column-gap: 25px;
    grid-row-gap: 1.5em;

    margin-top: 40px;
    max-width: auto;
}*/

