.card{
    flex-direction: column;
    margin-top: 50px;
    display: inline-grid;
    width: 16.5rem;
    height: 500px;
    display: flex;
    justify-content: space-between;            
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    
    nav{
        display: flex;
        flex-direction: column;
    }

    .wrap-content{
        display: flex;
        flex-direction: column;   
    }

    .wpp{
        position: fixed;
        bottom: 4px;
        right: 3px;
        z-index: 9999;
    }
}



