#certificados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.certificado{
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;            
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    text-align: justify;
    margin: 25px
}

.certificado p, h3{
    padding: 10px
}

.certificado ul li {
    padding: 10px;
    list-style: none;
}

#a1-a3{
    width: 60rem;
    height: auto;
    text-align: justify;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    padding: 10px
}

