div#servico{
    display: inline-grid;
    grid-template-columns: 0fr 1fr;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div.consumer{
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
}

div#sobre-consumer p, h5{
    text-align: justify;
    margin-left: 10px;
    justify-content: space-between;
}

div#sobre-consumer h4{
    text-align: center;
    padding: 2%
}

h5{
    margin-bottom: 10px;
}




