div#servico{
    display: flex;
    flex-direction: row;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div.bobina{
    width: 80%;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    height: auto;
    margin-right: 6%;
}

.detalhes-prod{
    text-align: center;
}

div#sobre-bobina p{
    margin-left: 10px;
}

div#sobre-bobina{
    text-align: center;
}

div.detalhes-prod h4{
    padding: 2%
}

h3{
    text-align: center;
    padding: 2%;
}

div.detalhes-prod button{
    border: none;
    align-items: center;
}

@media screen and (max-width: 670px) {

    nav{
        display: flex;
        flex-direction: column;
    }

    .img{
        width: 70%;
    }

    main{
        width: 70%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #sobre-bobina{
        text-align: center;
    }

    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 70px;
        z-index: 9999;
    }


}


