main{
    margin-left: 5%;
    margin-right: 5%;
}

div#servico{
   display: flex;
   flex-direction: row;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div#produto{
    width: 25rem;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 17rem;
    height: auto;
}

div#produto{
    text-align: center;
}

div#produto p{
    margin-left: 5px;
    text-align: justify;
}

div#produto h4{
    text-align: center;
    padding: 2%
}

div#produtos button{
    border-radius: 15rem;
    border: none;
    align-items: center;
}

@media screen and (max-width: 628px) {
    
    #servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #produto{
        display: flex;
        flex-direction: column;
        width: 50%
    }

    img{
        padding: 10px;
    }

}

