div#servico{
    display: flex;
    flex-direction: row;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div#sobre-certifcado{
    width: 500px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    height: auto;
}

div#sobre-certificado{
    text-align: center;
}

div#sobre-certificado p{
    margin-left: 5px;
    text-align: justify;
    padding: 2px;
}

div#sobre-certificado h4{
    text-align: center;
    padding: 2%
}

div#sobre-certificado button{
    border: none;
    align-items: center;
}

@media screen and (max-width: 740px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    div.certificadora{
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    #servico img{
        justify-content: center;
        padding: 30px;
    }

    div#sobre-certificado{
        justify-content: center;
        width: 95%;
    }
    
    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 100px;
        z-index: 9999;
    }   
}

@media screen and (min-width: 730px) {

    #servico{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
        margin-left: 10%

    }

    div#sobre-certificado{
        justify-content: center;
        width: 95%;
    }

    #servico img{
        justify-content: center;
        padding: 30px;
    }

}