div.computador{
    display: flex;
    flex-direction: row;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div.computador{
    width: 750px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    height: auto;
}

div#sobre-pc p{
    margin-left: 10px;
    text-align: justify;
}

div#sobre-pc{
    text-align: center;
}

div#sobre-pc h4{
    padding: 2%
}

h3{
    text-align: center;
    padding: 2%;
}

div.detalhes-prod button{
    border: none;
    align-items: center;
}

@media screen and (max-width: 626px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    div.computador{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    
    div.sobre-pc{
        align-self: center;
        width: 50%;
        padding: 10px
    }

    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 70px;
        z-index: 9999;
    }
}

@media screen and (max-width: 845px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    #sobre-pc{
        width: 40%
    }

    main, .computador{
        width: 90%;
    }

    img{
        content: 'src:';
    }

    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 70px;
        z-index: 9999;
    }

}

