div.computador{
    display: inline-grid;
    grid-template-columns: 0.7fr 2fr;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div.computador{
    width: 750px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 17rem;
    height: auto;
}

div#sobre-pc p{
    margin-left: 10px;
    text-align: justify;
}

div#sobre-pc{
    text-align: center;
}

div#sobre-pc h4{
    padding: 2%
}

h3{
    text-align: center;
    padding: 2%;
}

div.detalhes-prod button{
    border-radius: 15rem;
    border: none;
    align-items: center;
}



