div#servico{
    display: flex;
    flex-direction: row;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div#sobre-gaveta{
    width: 500px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    height: auto;
}

div#sobre-gaveta{
    text-align: center;
}

div#sobre-gaveta p{
    margin-left: 5px;
    text-align: justify;
    padding: 2px;
}

div#sobre-gaveta h4{
    text-align: center;
    padding: 2%
}

div#sobre-gaveta button{
    border: none;
    align-items: center;
}


@media screen and (max-width: 732px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    main{
        justify-content: center;
    }

    div.gaveta-de-dinheiro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 95%;
    }
    
    #servico img{
        justify-content: center;
        padding: 30px;
    }

    div#sobre-gaveta{
        justify-content: center;
        width: 100%;
    }

    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 80px;
        z-index: 9999;
    }   
}

@media screen and (max-width: 1028px) {
 
    nav{
        width: 90%;
    }

    #aviso{
        width: 90%;
    }

    #servico{
        width: 85%;       
    }
 
    #servico .img{
        justify-content: center;
        width: 50%;
    }

    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 160px;
        z-index: 9999;
    }   

}