div#servico{
    display: flex;
    flex-direction: row;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div.leitor-de-codigo{
    width: 750px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    height: auto;
    justify-content: space-between;
}

div#sobre-leitor p{
    margin-left: 10px;
    text-align: justify;
    padding: 5px;
}

div#sobre-leitor{
    text-align: center;
}

div#sobre-leitor h4{
    padding: 2%
}

h3{
    text-align: center;
    padding: 2%;
}

div.detalhes-prod button{
    border: none;
    align-items: center;
}

@media screen and (max-width: 730px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    div.leitor-de-codigo{
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    #servico img{
        justify-content: center;
        padding: 20px;
    }

    div#sobre-leitor{
        justify-content: center;
        width: 100%;
    }
    
    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 100px;
        z-index: 9999;
    }   
}

@media screen and (max-width: 768px) {
    div.leitor-de-codigo{
        width: 660px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}