div #produtos{
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    gap: 2% 1%;
    background: none;

}

span #aviso{
    margin-bottom: 2%;
}

.card{
    justify-content: space-between;
}


