* {
    box-sizing: border-box;
  }

#container-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div #produtos{
    display: grid;
    width: 90%;
    grid-template-columns: 2fr 2fr 1.5fr;
    gap: 50px 10px;
    background: none;
    flex-wrap: wrap;
}

span #aviso{
    margin-bottom: 2%;
}

.card{
    justify-content: space-between;
}

@media screen and (max-width: 992px){
    
    div #produtos{
        grid-template-columns: 2fr 2fr; 
    }
}
