div#servico{
    display: inline-grid;
    grid-template-columns: 0.7fr 2fr;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div#sobre-sat{
    width: 500px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    height: auto;
}

div#sobre-sat{
    text-align: center;
}

div#sobre-sat p{
    margin-left: 5px;
    text-align: justify;
    padding: 2px;
}

div#sobre-sat h4{
    text-align: center;
    padding: 2%
}

div#sobre-sat button{
    border: none;
    align-items: center;
}

