div#servico{
    display: flex;
    flex-direction: row;
}

span #aviso{
    justify-content: center;
    margin-bottom: 2%;
}

div h2#sistema{
    margin-bottom: 2%;
    margin-left: 15%;
}

div#sobre-sat{
    width: 500px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
    height: auto;
}

div#sobre-sat{
    text-align: center;
}

div#sobre-sat p{
    margin-left: 5px;
    text-align: justify;
    padding: 2px;
}

div#sobre-sat h4{
    text-align: center;
    padding: 2%
}

div#sobre-sat button{
    border: none;
    align-items: center;
}

@media screen and (max-width: 740px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    div.sat-fiscal{
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    #servico img{
        justify-content: center;
        padding: 30px;
    }

    div#sobre-sat{
        justify-content: center;
        width: 95%;
    }
    
    .wpp{
        width: 0px;
        position: fixed;
        bottom: 5px;
        right: 100px;
        z-index: 9999;
    }   
}

@media screen and (max-width: 790px) {
    div#sobre-sat{
        justify-content: center;
        width: 95%;
    }
}